.musicCardContainer {
  width: 350px;
  height: 180px;
  border: 2px solid #e33e9e6a;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(227, 62, 159, 0.4) 0%,
    rgba(77, 37, 174, 0.4) 100%
  );
  cursor: pointer;
  /* Supprimer overflow: hidden pour permettre au menu de déborder */
}

.musicCardContainer::before {
  content: "";
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(227, 62, 159, 0.40) 0%, rgba(77, 37, 174, 0.40) 100%);
  z-index: 1;
}

.musicCardContainer:hover {
  border: 2px solid #ffffff;
  transition: 0.3s ease;
  background: linear-gradient(
    180deg,
    rgba(223, 108, 175, 0.4) 0%,
    rgba(126, 95, 197, 0.4) 100%
  );
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.iconsMusicCard {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.iconsMusicCard i:hover {
  color: white;
}

.iconPlay {
  margin-top: 15px;
  z-index: 2;
}

.iconPlay img {
  width: 60px;
  height: 60px;
}

.infoMusic {
  text-align: center;
  z-index: 2;
}

.songName {
  margin-top: 5px;
  font-size: 15px;
  color: white;
}

.durationMusic {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-top: 5px;
}

.musicImage {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menuOptions {
  position: absolute;
  top: 25px;
  right: -130px; /* Décalage à droite pour le positionner en dehors de la MusicCard */
  background-color: rgba(169, 50, 143, 0.1); /* Fond semi-transparent */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Bordure plus subtile */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Effet d'ombre pour la profondeur */
  border-radius: 10px;
  width: 150px;
  z-index: 10;
  padding: 10px 0;
}

.menuOptionShare,
.menuOptionEdit {
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menuOptionShare:hover,
.menuOptionEdit:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond à l'hover */
  cursor: pointer;
}

.menuOptionShare svg,
.menuOptionEdit svg{
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
