.sectionDefault {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  height: auto;
}

.sectionDefault h1 {
  font-size: 18px;
  color: rgb(255, 255, 255, 0.7);
  margin-bottom: 20px;
  width: 100%;
}
